<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tecnica2.expomap">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpoMap"
        tools:targetApi="31">

        <!-- Vincular clases de kotlin con activity's -->
        <activity
            android:name=".bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".proyectosElectronica"
            android:exported="true">
        </activity>

        <activity
            android:name=".proyectosElectromecanica"
            android:exported="true">
        </activity>

        <activity
            android:name=".proyectosInformatica"
            android:exported="true">
        </activity>

        <activity
            android:name=".proyectosMMObras"
            android:exported="true">
        </activity>

        <activity
            android:name=".proyectosProgramacion"
            android:exported="true">
        </activity>

        <activity
            android:name=".mapaInteractivo"
            android:exported="true">
        </activity>
    </application>

</manifest>